<%= @answer = params[:question] %>
  <% if @answer == "I am going to work" %>
    <p>Great!</p>
  <% elsif @answer.include?("?")%>
    <p>Silly question, get dressed and go to work!</p>
  <% else %>
    <p>I don't care, get dressed and go to work!</p>
  <% end %>
